<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Galada&family=Oswald:wght@300;400;500&display=swap" rel="stylesheet">
    <link href="styles/styles.css" rel="stylesheet">
    <title>My Layout</title>
</head>
<body>
    <header>
        <h1>
            <img src="images/bird.png" alt="LOGO" width="80">  BIRDWATCHING <img src="images/bird.png" alt="LOGO" width="80">
          </h1>
    </header>
  <nav>
    
        <a href="#home">HOME</a>
        <a href="#getstarted">GET STARTED</a>
        <a href="#photos">PHOTOS</a>
        <a href="#gear">GEAR</a>
        <a href="#forum">FORUM</a>
    
 </nav>
 <main>
   <article>
    <h2>WELCOME</h2>
    <p>Welcome to our fake birdwatching site. If this were a real site, it would be the ideal place to come to learn more about birdwatching, whether you are a beginner looking to learn how to get into birding, or an expert wanting to share ideas, tips, and photos with other like-minded people. <br></p>
    <p> So don't waste time! Get what you need, then turn off that computer and get out into the great outdoors!</p>
   </article>
   <aside>
    <div class="img">
      <h2>FAVOURITE PHOTOS</h2>
      <img src="images/bird1.jpg" alt="bird1" width="198" > 
      <img src="images/bird2.jpg" alt="bird2"width="212" >
      <img src="images/bird3.jpg" alt="bird3"width="200" >
      <img src="images/bird4.jpg" alt="bird4" width="210" >
    </div>
   </aside>
 </main>
 
  <footer>
     <p>This fake website example is CCO- any part of this code may be reused in any way you wish. Original example written by Chris Mills, 2016.</p>
  </footer>
</body>
</html>